{% extends "base.html" %} 
{% load crispy_forms_tags %}


{% block content %}

<div class="pt-4" style="display: flex; flex-wrap: wrap; gap: 15px; justify-content: center;">
    {% for i in task %}
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"> Task id : {{i.id}} </h5>
                <h5 class="card-title"> Task title : {{i.taskTitle}} </h5>
                <h5 class="card-title"> Task assign date : {{i.task_assign_date}} </h5>
                <h5 class="card-text"> Task description : {{i.taskDescription}} </h5>
                <h5 class="card-title"> Task category :
                    {% for cat in i.task_cat.all %}
                        <button class="btn btn-light"> {{ cat.category_name }} </button>
                    {% endfor %}
                </h5>
                {% if i.is_completed %}
                    <button class = "btn btn-success"> Completed </button>
                {% else %}
                    <a href = " {% url 'edit' i.id %} "><button class="btn btn-warning"> Edit  </button></a> 
                    <a href = " {% url 'delete' i.id %} "><button class="btn btn-danger"> delete  </button></a> 
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}




